.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
